.navlink{
    font-size:20; 
    font-family:  Tahoma; 
    font-weight: bold; 
    color: white; 
}

navprofile{
    font-size:20; 
    font: Tahoma; 
    font-weight: bold; 
    color: white; 
}

.navdropdown{
    font-size:25; 
    font: Tahoma; 
    color: black; 
}